---
- name: "Deploy chrony config (template)"
  ansible.builtin.template:
    src: chrony.conf.j2
    dest: /etc/chrony/chrony.conf
    owner: root
    group: root
    mode: "0644"
  notify: restart chrony

- name: "Enable/start chrony"
  ansible.builtin.service:
    name: chrony
    enabled: true
    state: started
